DISCORD_BOT_TOKEN   = "REPLACEME"
DISCORD_CHANNEL_ID  = 123
DISCORD_WEBHOOK_URL = "https://discord.com/api/webhooks/id/token"
FLUXER_BOT_TOKEN    = "REPLACEME"
FLUXER_CHANNEL_ID   = 456
FLUXER_WEBHOOK_URL  = "https://api.fluxer.app/webhooks/id/token"
FLUXER_API_URL      = "https://api.fluxer.app/v1" # Changeme if self-hosting. :)